project.lock.json
.DS_Store
nupkg/

# Visual Studio Code
.vscode

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

.ionide/
*.vsidx
.vs/ProjectEvaluation/tradingstraregybacktesting.metadata.v5.1
.vs/ProjectEvaluation/tradingstraregybacktesting.projects.v5.1
.vs/TradingStraregyBacktesting/DesignTimeBuild/.dtbcache.v2
.vs/TradingStraregyBacktesting/FileContentIndex/read.lock
.vs/TradingStraregyBacktesting/v17/.futdcache.v2
.vs/TradingStraregyBacktesting/v17/.suo
.vs/TradingStraregyBacktesting/v17/TestStore/0/testlog.manifest
.vs/TradingStraregyBacktesting/v17/TestStore/0/000.testlog
